@page "/ProjectionError/{position}/{week}"
<PageTitle>Projection Error</PageTitle>
@using Football.Enums;
@using Football.UI.Helpers;
@using Football.Api.Models.Projection;
@using Football.UI.Interfaces;
@inject IProjectionService projectionService;

<h4>@GetHeader()</h4>

@if (loading)
{
    <div class="spinner"></div>
}

@if (projectionErrors.Any())
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("ProjectedPoints"))">Projected Points</span>
                        <span class="oi @(tableSort.GetSortStyle("ProjectedPoints"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("FantasyPoints"))">Fantasy Points</span>
                        <span class="oi @(tableSort.GetSortStyle("FantasyPoints"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("Error"))">Error</span>
                        <span class="oi @(tableSort.GetSortStyle("Error"))"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in projectionErrors)
                {
                    <tr>
                        <td><a class="page-links" href="Players/@p.PlayerId"> @p.Name</a></td>
                        <td>@Math.Round(p.ProjectedPoints, 2)</td>
                        <td>@Math.Round(p.FantasyPoints, 2)</td>
                        <td>@Math.Round(p.Error, 2)</td>
                        <td>
                            <a href="@GetGraphLink(p.PlayerId)"> <i class="oi oi-graph" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public string position { get; set; } = "";
    [Parameter]
    public string week { get; set; } = "";

    private List<WeeklyProjectionErrorModel>? projectionErrors = [];

    private bool loading { get; set; } = false;
    private bool shouldRender;
    
    private TableSort tableSort = new();

    protected override bool ShouldRender() => shouldRender;
    protected override async Task OnInitializedAsync() => await HandleInput();

    private async Task HandleInput()
    {
        loading = true;
        projectionErrors?.Clear();
        shouldRender = true;
        projectionErrors = await projectionService.GetWeeklyProjectionErrorRequest(position, week);
        loading = false;
        shouldRender = true;
    }

    private void SetTable(string columnName) => projectionErrors = tableSort.SortTable<WeeklyProjectionErrorModel>(projectionErrors, columnName);
    private string GetHeader() => position + " Projection Error - Week " + week;
    private string GetGraphLink(int playerId) => string.Format("{0}/{1}", "/error-graph", playerId);



}
