@page "/top-opponents/{teamId}/{position}"
<PageTitle>Top Opponents</PageTitle>

@using Football.UI.Helpers;
@using Football.UI.Interfaces;
@using Football.Shared.Models.Fantasy;
@using ApexCharts;

@inject IFantasyService fantasyService;


@if (loading)
{
    <div class="spinner"></div>
}

else
{
    <h4>@GetHeader()</h4>
}

@if (opponents.Any())
{
    <ApexChart TItem="TopOpponentsModel"
               Height="400">
        <ApexPointSeries TItem="TopOpponentsModel"
                         Items="opponents"
                         Name="Fantasy Pts"
                         SeriesType="SeriesType.Line"
                         XValue="e => e.Week"
                         YValue="e=> (decimal)e.FantasyPoints" />
    </ApexChart>

    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <hr style="width:100%;text-align:left;margin-left:0">
    <div style="height:10px;font-size:1px;">&nbsp;</div>

    <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>FantasyPts</th>
                    <th>AvgFantasyPts</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var op in opponents)
                {
                    var logoPhotoPath = op.Team != string.Empty ?
                    "https://localhost:7176/Logos/" + op.Team + ".png"
                    : "https://localhost:7176/Logos/nfl.png";

                    var diff = @Math.Round(op.FantasyPoints - op.AverageFantasy, 2);

                    <tr>
                        <td>@op.Week</td>
                        <td><a class="page-links" href="Players/@op.PlayerId"> @op.Name</a></td>
                        <td><img src="@logoPhotoPath" width="30" height="30"></td>
                        <td>@Math.Round(op.FantasyPoints, 2)</td>
                        <td>@Math.Round(op.AverageFantasy, 2)</td>
                        <td><b><text style="@DiffColor(diff)">@diff</text></b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public string teamId { get; set; } = "";
    [Parameter]
    public string position { get; set; } = "";

    private bool shouldRender;
    private bool loading = false;

    private string team { get; set; } = "";
    private List<TopOpponentsModel>? opponents = new();


    private Formatter form = new();

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        loading = true;       
        opponents = await fantasyService.GetTopOpponentsRequest(teamId, position);
        if (opponents.Any()) team = opponents.First().TopOpponentTeamDescription;
        loading = false;
        shouldRender = true;
    }

    private string GetHeader() => string.Format("{0} - Top {1} Opponents", team, position);
    private string DiffColor(double diff) => diff >= 0 ? "color:green" : "color:red";
}

