@page "/ManageSettings"
@using Football.Shared.Models.Operations;
@using Football.Client.Interfaces;
@using Football.Client.Helpers;
@inject IOperationsService operationsService;
<PageTitle>Settings</PageTitle>


<h3>Manage Settings</h3>

@if (tuningsUpdated)
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <text>Tunings updated</text>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
}

@if (seasonAdjustmentsUpdated)
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <text>Season Adjustments updated</text>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
}

@if (weeklyTuningsUpdated)
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <text>Weekly Tunings updated</text>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
}

<div style="height:10px;font-size:1px;">&nbsp;</div>
@foreach (var setting in settings)
{

    <input type="radio" name="players" id=" @setting" value="@setting"
           @onchange="SetSetting"
           checked=@(Setting.Equals(setting,StringComparison.OrdinalIgnoreCase)) />
    <label for="@setting ">@setting</label>

}
<div style="height:10px;font-size:1px;">&nbsp;</div>
<button class="button-22" role="button" @onclick="HandleInput">
    Submit
</button>
<div style="height:10px;font-size:1px;">&nbsp;</div>
@if (loading)
{
    <div class="spinner"></div>
}

<div style="height:10px;font-size:1px;">&nbsp;</div>
@if (tunings!= null && !loading && seasonTuningsSetting)
{
    <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>
                    <th>Tuning</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("AverageQBProjection")"> AverageQBProjection </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.AverageQBProjection" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("AverageRBProjection")"> AverageRBProjection </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.AverageRBProjection" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("AverageWRProjection")"> AverageWRProjection </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.AverageWRProjection" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("AverageTEProjection")"> AverageTEProjection </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.AverageTEProjection" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("AverageDSTProjection")"> AverageDSTProjection </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.AverageDSTProjection" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("AverageKProjection")"> AverageKProjection </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.AverageKProjection" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("BackupQBAdjustmentMax")"> BackupQBAdjustmentMax </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.BackupQBAdjustmentMax" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("EliteWRDraftPositionMax")"> EliteWRDraftPositionMax </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.EliteWRDraftPositionMax" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("EliteWRRookieTopReceiverFactor")"> EliteWRRookieTopReceiverFactor </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.EliteWRRookieTopReceiverFactor" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("ExistingRBAdjustmentFactor")"> ExistingRBAdjustmentFactor </b></td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.ExistingRBAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("ExistingWRAdjustmentFactor")"> ExistingWRAdjustmentFactor </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ExistingWRAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("LeadRBFactor")"> LeadRBFactor </b></td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.LeadRBFactor" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("MinGamesForMissedAverage")"> MinGamesForMissedAverage </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.MinGamesForMissedAverage" />
                    </td>
                </tr>
                
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("NewQBCeiling")"> NewQBCeiling </b></td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewQBCeiling" />
                    </td>
                </tr>
                                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("NewQBCeilingForRB")"> NewQBCeilingForRB </b></td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewQBCeilingForRB" />
                    </td>
                </tr>
                <tr>
                    <td><b style="color:@format.PositionColorFromGenericString("NewQBFloor")"> NewQBFloor </b></td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.NewQBFloor" />
                    </td>
                </tr>
                <tr>
                    <td>
                         NewWRMinPoints 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewWRMinPoints" />
                    </td>
                </tr>
                                <tr>
                    <td>
                         NewWRAdjustmentFactor 
                    </td>                                           
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewWRAdjustmentFactor" />
                    </td>
                </tr>

                <tr>
                    <td>
                         NewRBMinPoints 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewRBMinPoints" />
                    </td>
                </tr>
                <tr>
                    <td>
                         NewRBAdjustmentFactor 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewRBAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        QBWeight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.QBWeight" />
                    </td>
                </tr>

                <tr>
                    <td>
                        RBFloor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RBFloor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RBPromotionMinYardsPerCarry
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RBPromotionMinYardsPerCarry" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RBPromotionFactor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RBPromotionFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RB1MinPoints
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RB1MinPoints" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ReceivingRBThreshold
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ReceivingRBThreshold" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        ReplacementLevelQB
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ReplacementLevelQB" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ReplacementLevel2QB
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ReplacementLevel2QB" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        ReplacementLevelRB
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ReplacementLevelRB" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        ReplacementLevelWR
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ReplacementLevelWR" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ReplacementLevelTE
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ReplacementLevelTE" />
                    </td>
                </tr>

                <tr>
                    <td>
                         RushingQBThreshold 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.RushingQBThreshold" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SeasonDataTrimmingGames
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SeasonDataTrimmingGames" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearWRLeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearWRLeap" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearQBLeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearQBLeap" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearRBLeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearRBLeap" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearTELeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearTELeap" />
                    </td>
                </tr>

                <tr>
                    <td>
                        VetQBNewTeamYears
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.VetQBNewTeamYears" />
                    </td>
                </tr>
                <tr>
                    <td>
                        VetQBNewTeamFactor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.VetQBNewTeamFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Weight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.Weight" />
                    </td>
                </tr>
                <tr>
                    <td>
                        WR1MinPoints
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.WR1MinPoints" />
                    </td>
                </tr>
                <tr>
                    <td>
                        QBProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.QBProjectionCount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RBProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RBProjectionCount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        WRProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.WRProjectionCount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        TEProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.TEProjectionCount" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height:10px;font-size:1px;">&nbsp;</div>

    <button class="button-22" role="button" @onclick="HandleSeasonTuningsUpdate">
        Update
    </button>
}

else if (weeklyTunings != null && !loading && weeklyTuningsSetting)
{
    <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>
                    <th>Tuning</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        RecentWeekWeight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.RecentWeekWeight" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        ProjectionWeight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.ProjectionWeight" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        TamperedMin
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.TamperedMin" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        TamperedMax
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.TamperedMax" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        MinWeekWeighted
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.MinWeekWeighted" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RecentWeeks
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.RecentWeeks" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        ErrorAdjustmentWeek
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.ErrorAdjustmentWeek" />
                    </td>
                </tr>
                <tr>
                    <td>
                        QBProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.QBProjectionCount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RBProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.RBProjectionCount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        WRProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.WRProjectionCount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        TEProjectionCount
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.TEProjectionCount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        MinWeekMatchupAdjustment
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.MinWeekMatchupAdjustment" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="button-22" role="button" @onclick="HandleWeeklyTuningsUpdate">
        Update
    </button>
}

else if (seasonAdjustments != null && !loading && seasonAdjustmentsSetting)
{
    <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>
                    <th>Adjustment</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Injury Adjustment
                    </td>
                    <td>
                        <input type="checkbox" @bind="@seasonAdjustments.InjuryAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Suspension Adjustment
                    </td>
                    <td>
                        <input type="checkbox" @bind="@seasonAdjustments.SuspensionAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Vet QB on New Team Adjustment
                    </td>
                    <td>
                        <input type="checkbox"  @bind="@seasonAdjustments.VeteranQBonNewTeamAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Downward Trending Adjustment
                    </td>
                    <td>
                        <input type="checkbox" @bind="@seasonAdjustments.DownwardTrendingAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Shared Backfield Adjustment
                    </td>
                    <td>
                        <input type="checkbox" @bind="@seasonAdjustments.SharedBackfieldAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        QB Change Adjustment
                    </td>
                    <td>
                        <input type="checkbox" @bind="@seasonAdjustments.QuarterbackChangeAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Lead RB Promotion Adjustment
                    </td>
                    <td>
                        <input type="checkbox"  @bind="@seasonAdjustments.LeadRBPromotionAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Elite Rookie WR Adjustment
                    </td>
                    <td>
                        <input type="checkbox"  @bind="@seasonAdjustments.EliteRookieWRTopTargetAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Backup QB Adjustment
                    </td>
                    <td>
                        <input type="checkbox"  @bind="@seasonAdjustments.PreviousSeasonBackupQuarterbackAdjustment" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Shared Receiving Adjustment
                    </td>
                    <td>
                        <input type="checkbox"  @bind="@seasonAdjustments.SharedReceivingDutiesAdjustment" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="button-22" role="button" @onclick="HandleSeasonAdjustmentsUpdate">
        Update
    </button>
}

<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@code {
    private bool loading { get; set; }
    private bool shouldRender { get; set; }

    private bool tuningsUpdated { get; set; } = false;
    private bool seasonAdjustmentsUpdated { get; set; } = false;
    private bool weeklyTuningsUpdated { get; set; } = false;

    private string Setting { get; set; } = "Season Tunings";

    private List<string> settings = ["Season Tunings", "Season Adjustments", "Weekly Tunings"];

    private bool seasonTuningsSetting { get; set; }
    private bool seasonAdjustmentsSetting { get; set; }
    private bool weeklyTuningsSetting { get; set; }

    private TuningsModel? tunings { get; set; } = new();
    private WeeklyTuningsModel? weeklyTunings { get; set; } = new();
    private SeasonAdjustmentsModel? seasonAdjustments { get; set; } = new();

    private Formatter format = new();

    protected override bool ShouldRender() => shouldRender;


    private async Task HandleSeasonTuningsUpdate()
    {
        loading = true;
        tuningsUpdated = await operationsService.PostSeasonTuningsRequest(tunings);
        tunings = await operationsService.GetSeasonTuningsRequest();
        loading= false;
        shouldRender = true;
    }

    private async Task HandleSeasonAdjustmentsUpdate()
    {
        loading = true;
        seasonAdjustmentsUpdated = await operationsService.PostSeasonAdjustmentsRequest(seasonAdjustments);
        seasonAdjustments = await operationsService.GetSeasonAdjustmentsRequest();
        loading = false;
        shouldRender = true;
    }

    private async Task HandleWeeklyTuningsUpdate()
    {

        loading = true;
        weeklyTuningsUpdated = await operationsService.PostWeeklyTuningsRequest(weeklyTunings);
        weeklyTunings = await operationsService.GetWeeklyTuningsRequest();
        loading = false;
        shouldRender = true;
    }
    private async Task HandleInput()
    {
        loading = true;
        shouldRender = true;

        if(Setting == "Season Tunings")
        {
            tunings = await operationsService.GetSeasonTuningsRequest();
            seasonTuningsSetting = true;
        }
        else if(Setting == "Season Adjustments")
        {
            seasonAdjustments = await operationsService.GetSeasonAdjustmentsRequest();
            seasonAdjustmentsSetting = true;
        }
        else if (Setting == "Weekly Tunings")
        {
            weeklyTunings = await operationsService.GetWeeklyTuningsRequest();
            weeklyTuningsSetting = true;          
        }

        loading = false;
        shouldRender = true;
    }

    public void SetSetting(ChangeEventArgs args)
    {
        Setting = args.Value.ToString();
        tuningsUpdated = false;
        seasonAdjustmentsUpdated = false;
        seasonTuningsSetting = false;
        seasonAdjustmentsSetting = false;
        weeklyTuningsSetting = false;
        weeklyTuningsUpdated = false;
    }
}
