@page "/ManagePlayers"
<PageTitle>Manage Players</PageTitle>

@using Football.Client.Helpers;
@using Football.Client.Interfaces;
@using Football.Client.Shared;
@using Football.Shared.Models.Players;

@inject IPlayersService playerService;

<h4>Manage Players</h4>
<div>
    @foreach (var position in form.Positions(includeRookies: true))
    {

        <input type="radio" name="players" id=" @position" value="@position"
               @onchange="SetPosition"
               checked=@(Position.Equals(position,StringComparison.OrdinalIgnoreCase)) />
        <label for="@position ">@position</label>

    }
</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<button class="button-22" role="button" @onclick="GetPlayers">
    Submit
</button>
@if (players.Any() && Position != "Rookies")
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <button class="button-22" role="button" @onclick="PlayersInactivated">
        Update
    </button>
}
else if(Position== "Rookies")
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <button class="button-22" role="button" @onclick="AddRookie">
        Add
    </button>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    @if (rookieAdded && !addRookie)
    {
        <text>Rookie added</text>
    }
    @if (addRookie)
    {
        <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>                   
                    <th>Name</th>
                    <th>Pos</th>
                    <th>Active</th>
                    <th>Team</th>
                    <th>Season</th>
                    <th>Pick#</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <input type="text" class="form-control" placeholder="Name" @bind="@newRookie.Name" />
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Pos" @bind="@newRookie.Position" />
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Active" @bind="@newRookie.Active" />
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Team" @bind="@newRookie.TeamDrafted" />
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Season" @bind="@newRookie.RookieSeason" />
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Pick#" @bind="@newRookie.DraftPick" />
                    </td>
                    <td>
                      <input type="text" class="form-control" placeholder="Age" @bind="@newRookie.DeclareAge" />
                    </td>
                    <td>
                       <button type="button" class="btn btn-link" @onclick="() => CancelRookieAdd()">
                          <i class="oi oi-circle-x" />
                       </button>
                       <button type="button" class="btn btn-link" @onclick="() => AddRookie(newRookie)">
                          <i class="oi oi-circle-check" />
                       </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        
    }
}

@if (playersUpdated > 0)
{
    <text> @playersUpdated players inactivated</text>
}
<div style="height:10px;font-size:1px;">&nbsp;</div>

@if (loading)
{
    <div class="spinner"></div>
}
@if (badRequestError)
{
    <p>Unexpected Error. Please try again.</p>
}

else if (players.Any())
{

    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Inactivate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in players)
                {                    
                    bool Checked = false;
                    if (inactivePlayers.Contains(p.PlayerId))
                    {
                        Checked = true;
                    }
                    <tr>
                        <td>@p.Name</td>
                        <td>
                            <input type="checkbox" checked=@Checked
                                   @onchange="eventArgs => { CheckboxClicked(p.PlayerId); }" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else if (rookies.Any())
{
        <div style="height:10px;font-size:1px;">&nbsp;</div>
    <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>
                    <th>Draft Year</th>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Team Drafted</th>
                    <th>DraftPos</th>
                    <th>Declare Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in rookies)
                {
                    <tr>
                        <td>@r.RookieSeason</td>
                        <td>@r.Position</td>
                        <td>@r.Name</td>
                        <td>@r.TeamDrafted</td>
                        <td>@r.DraftPick</td>
                        <td>@r.DeclareAge</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@code {
    private bool shouldRender;  
    private bool badRequestError;
    private bool loading { get; set; }
    private int count = 0;
    int playersUpdated { get; set; }

    private List<SimplePlayerModel>? players = new();
    public string Position { get; set; } = "Quarterback";
    public string PositionEnum { get; set; } = "QB";
    List<int> inactivePlayers = [];   

    bool addRookie { get; set; } = false;
    bool rookieAdded { get; set; } = false;
    bool youTriedToAddRookie { get; set; } = false;
    List<RookiePlayerModel>? rookies = [];
    RookiePlayerModel newRookie = new();

    private Formatter form = new();

    protected override bool ShouldRender() => shouldRender;

    public void SetPosition(ChangeEventArgs args)
    {
        Position = args.Value.ToString();
        players?.Clear();
        rookies?.Clear();
        inactivePlayers.Clear();
        playersUpdated = 0;
        addRookie = false;
        rookieAdded = false;
        youTriedToAddRookie = false;
    }

    private async Task GetPlayers()
    {
        loading = true;
        shouldRender = true;
        players?.Clear();            
        inactivePlayers.Clear();

        if (Position.ToLower() != "rookies")
        {
            PositionEnum = form.SetPosition(Position);
            players = await playerService.GetSimplePlayersRequest(activeOnly: true, position: PositionEnum);
            loading = false;
            shouldRender = true;
        }
        else
        {
            await GetRookies();
            loading = false;
            shouldRender = true;
        }
    }

    public async Task PlayersInactivated()
    {
        loading = true;
        playersUpdated = 0;
        playersUpdated = await playerService.InactivatePlayersRequest(inactivePlayers);
        loading = false;
        players?.Clear();
        await GetPlayers();
        shouldRender = true;
    }

    private async Task GetRookies() => rookies = await playerService.GetAllRookiesRequest();

    private async Task AddRookie(RookiePlayerModel newRookie)
    {
        addRookie = false;
        youTriedToAddRookie = true;
        rookieAdded = await playerService.CreateRookieRequest(newRookie);
        newRookie = new RookiePlayerModel { };
        await GetPlayers();
    }

    private void CheckboxClicked(int playerId)
    {
        if (inactivePlayers.Contains(playerId)) inactivePlayers.Remove(playerId);
        else inactivePlayers.Add(playerId);
    }

    private void AddRookie()
    {
        addRookie = !addRookie;
        newRookie = new();
    }

    private void CancelRookieAdd()
    {
        addRookie = false;
        newRookie = new RookiePlayerModel { };
        youTriedToAddRookie = false;
        shouldRender = true;
    }
}



