@page "/ManageSettings"
@using Football.Api.Models;
@inject IRequests requests;
<PageTitle>Settings</PageTitle>


<h3>Manage Settings</h3>

@if (tuningsUpdated)
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <text>Tunings updated</text>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
}
<div style="height:10px;font-size:1px;">&nbsp;</div>
@foreach (var setting in settings)
{

    <input type="radio" name="players" id=" @setting" value="@setting"
           @onchange="SetSetting"
           checked=@(Setting.Equals(setting,StringComparison.OrdinalIgnoreCase)) />
    <label for="@setting ">@setting</label>

}
<div style="height:10px;font-size:1px;">&nbsp;</div>
<button class="button-22" role="button" @onclick="HandleInput">
    Submit
</button>
<div style="height:10px;font-size:1px;">&nbsp;</div>
@if (loading)
{
    <div class="spinner"></div>
}

<div style="height:10px;font-size:1px;">&nbsp;</div>
@if (tunings!= null && !loading && seasonTuningsSetting)
{
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Tuning</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        AverageQBProjection
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.AverageQBProjection" />
                    </td>
                </tr>
                <tr>
                    <td>
                        BackupQBAdjustment
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.BackupQBAdjustmentMax" />
                    </td>
                </tr>
                <tr>
                    <td>
                        EliteWRDraftPositionMax
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.EliteWRDraftPositionMax" />
                    </td>
                </tr>
                <tr>
                    <td>
                        EliteWRTopReceiverFactor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.EliteWRRookieTopReceiverFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                         ExistingRBAdjustmentFactor 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.ExistingRBAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ExistingWRAdjustmentFactor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ExistingWRAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                         LeadRBFactor  
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.LeadRBFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        MinGamesForMissedAverage
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.MinGamesForMissedAverage" />
                    </td>
                </tr>
                
                <tr>
                    <td>
                         NewQBCeiling  
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewQBCeiling" />
                    </td>
                </tr>
                                <tr>
                    <td>
                         NewQBCeilingForRB 
                    </td>                                           
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewQBCeilingForRB" />
                    </td>
                </tr>
                <tr>
                    <td>
                        NewQBFloor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.NewQBFloor" />
                    </td>
                </tr>
                <tr>
                    <td>
                         NewWRMinPoints 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewWRMinPoints" />
                    </td>
                </tr>
                                <tr>
                    <td>
                         NewWRAdjustmentFactor 
                    </td>                                           
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewWRAdjustmentFactor" />
                    </td>
                </tr>

                <tr>
                    <td>
                         NewRBMinPoints 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewRBMinPoints" />
                    </td>
                </tr>
                <tr>
                    <td>
                         NewRBAdjustmentFactor 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.NewRBAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        QBWeight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.QBWeight" />
                    </td>
                </tr>

                <tr>
                    <td>
                        RBFloor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RBFloor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RBPromotionMinYardsPerCarry
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RBPromotionMinYardsPerCarry" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RBPromotionFactor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RBPromotionFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RB1MinPoints
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.RB1MinPoints" />
                    </td>
                </tr>
                <tr>
                    <td>
                        ReceivingRBThreshold
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.ReceivingRBThreshold" />
                    </td>
                </tr>
                <tr>
                    <td>
                         RushingQBThreshold 
                    </td>
                    <td>
                        <input type="text" class="form-control"   @bind="@tunings.RushingQBThreshold" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SeasonDataTrimmingGames
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SeasonDataTrimmingGames" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearWRLeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearWRLeap" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearQBLeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearQBLeap" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearRBLeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearRBLeap" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SecondYearTELeap
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.SecondYearTELeap" />
                    </td>
                </tr>

                <tr>
                    <td>
                        VetQBNewTeamYears
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.VetQBNewTeamYears" />
                    </td>
                </tr>
                <tr>
                    <td>
                        VetQBNewTeamFactor
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.VetQBNewTeamFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Weight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.Weight" />
                    </td>
                </tr>
                <tr>
                    <td>
                        WR1MinPoints
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@tunings.WR1MinPoints" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height:10px;font-size:1px;">&nbsp;</div>

    <button class="button-22" role="button" @onclick="HandleSeasonTuningsUpdate">
        Update
    </button>
}

else if (weeklyTunings != null && !loading && weeklyTuningsSetting)
{
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Tuning</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        RecentWeekWeight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.RecentWeekWeight" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        ProjectionWeight
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.ProjectionWeight" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        TamperedMin
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.TamperedMin" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        TamperedMax
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.TamperedMax" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        MinWeekWeighted
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.MinWeekWeighted" />
                    </td>
                </tr>
                <tr>
                    <td>
                        RecentWeeks
                    </td>
                    <td>
                        <input type="text" class="form-control" @bind="@weeklyTunings.RecentWeeks" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="button-22" role="button" @onclick="HandleWeeklyTuningsUpdate">
        Update
    </button>
}

<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@code {
    private bool loading { get; set; }
    private bool shouldRender { get; set; }
    private bool tuningsUpdated { get; set; } = false;
    private bool weeklyTuningsUpdated { get; set; } = false;
    private string Setting { get; set; } = "Season Tunings";

    private List<string> settings = ["Season Tunings", "Weekly Tunings"];
    private bool seasonSetting { get; set; }
    private bool seasonTuningsSetting { get; set; }
    private bool weeklyTuningsSetting { get; set; }

    private TuningsModel? tunings { get; set; } = new();
    private WeeklyTuningsModel? weeklyTunings { get; set; } = new();
    protected override bool ShouldRender() => shouldRender;

    private async Task HandleSeasonTuningsUpdate()
    {
        loading = true;
        tuningsUpdated = await requests.PostSeasonTuningsRequest(tunings);
        tunings = await requests.GetSeasonTuningsRequest();
        loading= false;
        shouldRender = true;
    }

    private async Task HandleWeeklyTuningsUpdate()
    {
        
        loading = true;
        weeklyTuningsUpdated = await requests.PostSeasonTuningsRequest(tunings);
        weeklyTunings = await requests.GetWeeklyTuningsRequest();
        loading = false;
        shouldRender = true;

    }
    private async Task HandleInput()
    {
        loading = true;
        shouldRender = true;

        if (Setting == "Season")
        {
            seasonSetting = true;
        }
        else if(Setting == "Season Tunings")
        {
            tunings = await requests.GetSeasonTuningsRequest();
            seasonTuningsSetting = true;
        }
        else if (Setting == "Weekly Tunings")
        {
            weeklyTunings = await requests.GetWeeklyTuningsRequest();
            weeklyTuningsSetting = true;          
        }

        loading = false;
        shouldRender = true;
    }

    public void SetSetting(ChangeEventArgs args)
    {
        Setting = args.Value.ToString();
        tuningsUpdated = false;
        seasonSetting = false;
        seasonTuningsSetting = false;
        weeklyTuningsSetting = false;
    }
}
