@page "/Fantasy"
<PageTitle>Fantasy</PageTitle>
<h3>Fantasy</h3>

@using System.Text.Json
@using System.Text.Json.Serialization
@using Football.Models;
@inject IHttpClientFactory ClientFactory

<EditForm Model="search" OnSubmit="GetFantasy">
    <TextBoxName @bind-Value="this.Value" />
    <TextBoxSeason @bind-Season="this.Season" />
    <button class="button-22" type="submit">Submit</button>
</EditForm>

<div style="height:10px;font-size:1px;">&nbsp;</div>

@if(!badRequestError && youTried)
{
    <div>
    <button class="button-22" role="button" @onclick="RefreshFantasy">
        Refresh
    </button>
        @if (refreshed)
        {
            <p>Records refreshed</p>
            refreshed = false;
        }
    </div>
    <div style="height:10px;font-size:1px;">&nbsp;</div>

        <div class="table_container"> 
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Season</th>
                    <th>Games</th>
                    <th>FPPG</th>
                    <th>Total</th>
                    <th>Passing</th>
                    <th>Rushing</th>
                    <th>Receiving</th>
                </tr>
            </thead>
            @foreach(var fp in fantasyTable)
            {
                <tr>
                    <td>@fp.Name</td>
                    <td>@fp.Season</td>
                    <td>@fp.Games</td>
                    <td>@fp.FPPG</td>
                    <td>@fp.TotalPoints</td>                   
                    <td>@fp.PassingPoints</td>
                    <td>@fp.RushingPoints</td>
                    <td>@fp.ReceivingPoints</td>
                </tr>
            }
            </table>
    </div>
}

else if (badRequestError)
{
    <p> No player found. Please try again.</p>
}

else if(!badRequestError && !fantasy.Any() && youTried)
{
    <p>No results found</p>
}

@code {
    private string Value { get; set; } = "";
    private string Season { get; set; } = "";
    private Search search = new();

    private bool badRequestError;
    private bool youTried = false;

    private List<FantasyPointsWithName> fantasy = new();
    private List<FantasyPointsTable> fantasyTable = new();
    private bool refreshed = false;

    private async Task GetFantasy()
    {
        var season = Season;
        if(Season == "")
        {
            season = "0";
        }
        var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7028/api/Fantasy/points/" + @Value + "/" + @season);
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            badRequestError = false;
            var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            using var responseStream = await response.Content.ReadAsStreamAsync();
            fantasyTable = await JsonSerializer.DeserializeAsync<List<FantasyPointsTable>>(responseStream, options);
            foreach(var ft in fantasyTable)
            {
                ft.Games = await GetFantasyGames(ft.PlayerId, ft.Season);
                ft.FPPG = Math.Round(ft.TotalPoints/ft.Games,2);
            }
        }
        else
        {
            badRequestError = true;
        }
        youTried = true;
    }

    private async Task<double> GetFantasyGames(int playerId, int season)
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7028/api/Player/games/" + @playerId + "/" + @season);
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            using var responseStream = await response.Content.ReadAsStreamAsync();
            var games = await JsonSerializer.DeserializeAsync<FantasySeasonGames>(responseStream, options);
            return games.Games;
        }
        else
        {
            throw new NotImplementedException("Bad data plz fix");
        }

    }

    private async Task RefreshFantasy()
    {
        if (fantasyTable.Any())
        {
            foreach(var f in fantasyTable)
            {
                var season = f.Season;
                var name = f.Name;
                var request = new HttpRequestMessage(HttpMethod.Post, "https://localhost:7028/api/Fantasy/refresh/" + @name + "/" + @season);
                request.Headers.Add("Accept", "application/json");
                var client = ClientFactory.CreateClient();
                var response = await client.SendAsync(request);
            }
            refreshed = true;
        }
        else if(youTried && !fantasyTable.Any())
        {
            var season = Season;
            var name = Value;
            var request = new HttpRequestMessage(HttpMethod.Post, "https://localhost:7028/api/Fantasy/refresh/" + @name + "/" + @season);
            request.Headers.Add("Accept", "application/json");
            var client = ClientFactory.CreateClient();
            var response = await client.SendAsync(request);
            refreshed = true;
        }
    }

    public class Search
    {
        public string Value { get; set; } = "";
        public string Season { get; set; } = "";
    }

    public class FantasyPointsTable : FantasyPointsWithName
    {
        public double Games{ get; set; }
        public double FPPG { get; set; }
    }

}
