@using System.Text.Json
@using System.Text.Json.Serialization
@using Football.Data.Models;
@using Football.Fantasy.Models;
@using Football.Players.Models;
@inject IHttpClientFactory ClientFactory
@page "/Leaders/"

<h4>Leaders</h4>
<EditForm model="this" OnSubmit="GetFantasyResults">
<TextBoxWeek @bind-Week ="this.week"/>
<TextBoxPosition @bind-Position="this.position"/>
<button class="button-22" type="submit">Submit</button>
</EditForm>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@if (loading)
{
    <div class="spinner"></div>
}

@if (currentLeaders.Any() && (!youTried || showAll))
{
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>                 
                    <th></th>                   
                    <th>Name</th>
                    <th>Games</th>
                    <th>Position</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i < currentLeaders.Count; i++)
                {
                    <tr>                      
                        <td>@i</td>                      
                        <td><a class="page-links" href="Players/@currentLeaders.ElementAt(i-1).PlayerId"> @currentLeaders.ElementAt(i-1).Name</a></td>
                        <td>@currentLeaders.ElementAt(i-1).Games</td>
                        <td>@currentLeaders.ElementAt(i-1).Position</td>
                        <td>@currentLeaders.ElementAt(i-1).FantasyPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if(youTried && !badRequestError && filterRunning && filteredLeaders.Any())
{
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th></th>
                    <th>Games</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i < filteredLeaders.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@filteredLeaders.ElementAt(i-1).Games</td>
                        <td><a class="page-links" href="Players/@filteredLeaders.ElementAt(i-1).PlayerId"> @filteredLeaders.ElementAt(i-1).Name</a></td>
                        <td>@filteredLeaders.ElementAt(i-1).Position</td>
                        <td>@filteredLeaders.ElementAt(i-1).FantasyPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if(youTried && !badRequestError && filterWeekly && weeklyResults.Any())
{
        <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
        <thead>
            <tr>
                <th></th>
                <th>Rank</th>
                <th>Name</th>
                <th>Position</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
                @for(int i = 1; i < weeklyResults.Count; i ++)
                {
                    <tr>
                        <td>@weeklyResults.ElementAt(i-1).Week</td>
                        <td>@i</td>
                        <td><a class="page-links" href="Players/@weeklyResults.ElementAt(i-1).PlayerId"> @weeklyResults.ElementAt(i-1).Name</a></td>
                        <td>@weeklyResults.ElementAt(i-1).Position</td>
                        <td>@weeklyResults.ElementAt(i-1).FantasyPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if(youTried && badRequestError)
{
    <text>Something Went Wrong.</text>
}

@code {
    public string week { get; set; } = "";
    public string position { get; set; } = "";
    public List<WeeklyFantasy> weeklyResults = new();
    public List<SeasonFantasy> currentLeaders = new();
    public List<SeasonFantasy> filteredLeaders = new();

    public bool badRequestError = false;
    public bool youTried = false;
    private bool shouldRender;
    private bool loading = false;

    private bool filterWeekly = false;
    private bool filterRunning = false;
    private bool showAll = false;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7028/api/Fantasy/season-totals");
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            using var responseStream = await response.Content.ReadAsStreamAsync();
            currentLeaders = await JsonSerializer.DeserializeAsync<List<SeasonFantasy>>(responseStream, options);
        }
        loading = false;
        shouldRender = true;
    }

    public async Task GetFantasyResults()
    {
        youTried = true;
        badRequestError = false;
        filterRunning = false;
        filterWeekly = false;
        showAll = false;

        if (!string.IsNullOrEmpty(week))
        {
            filterWeekly = true;
            var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7028/api/Fantasy/data/weekly/leaders/" + week);
            request.Headers.Add("Accept", "application/json");
            var client = ClientFactory.CreateClient();
            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
                using var responseStream = await response.Content.ReadAsStreamAsync();
                weeklyResults = (await JsonSerializer.DeserializeAsync<List<WeeklyFantasy>>(responseStream, options)).OrderByDescending(p => p.FantasyPoints).ToList();
                foreach (var r in weeklyResults)
                {
                    r.FantasyPoints = Math.Round(r.FantasyPoints, 2);
                }

                weeklyResults = !String.IsNullOrEmpty(position) ? weeklyResults.Where(w => w.Position.ToLower() == position.Trim().ToLower()).ToList() : weeklyResults;

                badRequestError = false;
            }
            else
            {
                badRequestError = true;
            }
        }
        else if(string.IsNullOrEmpty(week) && !string.IsNullOrEmpty(position))
        {
            filterRunning = true;
            filteredLeaders = currentLeaders.Where(c => c.Position.ToLower() == position.ToLower()).ToList();
            badRequestError = false;

        }
        else
        {
            showAll = true;
            badRequestError = false;
        }
        shouldRender = true;
    }
}
