@using System.Text.Json
@using System.Text.Json.Serialization
@using Football.Data.Models;
@using Football.Fantasy.Models;
@using Football.Players.Models;
@using Football.UI.Helpers;
@inject IHttpClientFactory ClientFactory
@page "/Leaders/"

<h4>Fantasy Leaders</h4>
<EditForm model="this" OnSubmit="HandleInput">
<TextBoxWeek @bind-Week ="this.week"/>
<TextBoxPosition @bind-Position="this.position"/>
<TextBoxSeason @bind-Season="this.season" />
<button class="button-22" type="submit">Submit</button>
</EditForm>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@if (loading)
{
    <div class="spinner"></div>
}

@if (currentLeaders != null && (!youTried || showAll) && !loading)
{
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>                 
                    <th></th>  
                    <th>Season</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Games</th>                    
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leader in currentLeaders)
                {
                    <tr>                      
                        <td>@form.Rank(currentLeaders, leader)</td>
                        <td>@leader.Season</td>
                        <td><a class="page-links" href="Players/@leader.PlayerId"> @leader.Name</a></td>
                        <td style="color:@form.PositionColor(leader.Position)"><b>@leader.Position</b></td>
                        <td>@leader.Games</td>                       
                        <td>@Math.Round(leader.FantasyPoints,2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if(youTried && filterRunning && filteredLeaders != null && !loading)
{
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th></th>    
                    <th>Season</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Games</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leader in filteredLeaders)
                {
                    <tr>
                        <td>@form.Rank(filteredLeaders, leader)</td>   
                        <td>@leader.Season</td>
                        <td><a class="page-links" href="Players/@leader.PlayerId"> @leader.Name</a></td>
                        <td style="color:@form.PositionColor(leader.Position)"><b>@leader.Position</b></td>
                        <td>@leader.Games</td>
                        <td>@Math.Round(leader.FantasyPoints,2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if(youTried && filterWeekly && weeklyResults != null && !loading)
{
        <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
        <thead>
            <tr>
                <th></th>
                <th>Season</th>
                <th>Name</th>
                <th>Position</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var result in weeklyResults)
                {
                    <tr>
                        <td>@form.Rank(weeklyResults, result)</td>
                        <td>@result.Season</td>
                        <td><a class="page-links" href="Players/@result.PlayerId"> @result.Name</a></td>
                        <td style="color:@form.PositionColor(result.Position)"><b>@result.Position</b></td>
                        <td>@Math.Round(result.FantasyPoints,2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    public string week { get; set; } = "";
    public string position { get; set; } = "";
    public string season { get; set; } = "";
    public List<WeeklyFantasy>? weeklyResults = new();
    public List<SeasonFantasy>? currentLeaders = new();
    public List<SeasonFantasy> filteredLeaders = new();

    public bool youTried = false;
    private bool shouldRender;
    private bool loading = false;

    private bool filterWeekly = false;
    private bool filterRunning = false;
    private bool showAll = false;

    protected override bool ShouldRender() => shouldRender;

    public Formatter form = new();

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        currentLeaders = await GetSeasonTotals();
        loading = false;
        shouldRender = true;
    }

    public async Task HandleInput()
    {
        youTried = true;
        filterRunning = false;
        filterWeekly = false;
        showAll = false;

        if (!string.IsNullOrEmpty(week))
        {
            filterWeekly = true;
            weeklyResults = (await GetWeeklyFantasy(week, season)).OrderByDescending(p => p.FantasyPoints).ToList();
            weeklyResults = !string.IsNullOrEmpty(position) ? weeklyResults.Where(w => w.Position.ToLower() == position.Trim().ToLower()).ToList() : weeklyResults;
        }
        else if(string.IsNullOrEmpty(week) && !string.IsNullOrEmpty(position))
        {
            filterRunning = true;
            currentLeaders = await GetSeasonTotals(season);
            filteredLeaders = currentLeaders.Where(c => c.Position.ToLower() == position.ToLower()).ToList();
        }
        else
        {
            currentLeaders = await GetSeasonTotals(season);
            showAll = true;
        }
        shouldRender = true;
    } 

    private async Task<List<SeasonFantasy>?> GetSeasonTotals(string season = "")
    {
        var path = "https://localhost:7028/api/Fantasy/season-totals";
        if (!string.IsNullOrEmpty(season)) path += string.Format("?fantasySeason={0}", season);
        var request = new HttpRequestMessage(HttpMethod.Get, path);
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            using var responseStream = await response.Content.ReadAsStreamAsync();
            return (await JsonSerializer.DeserializeAsync<List<SeasonFantasy>>(responseStream, options)).OrderByDescending(p => p.FantasyPoints).ToList();
        }
        return null;
    }

    private async Task<List<WeeklyFantasy>?> GetWeeklyFantasy(string week, string season = "")
    {
        var path = "https://localhost:7028/api/Fantasy/data/weekly/leaders/" + week;
        if (!string.IsNullOrEmpty(season)) path += string.Format("?season={0}", season);
        var request = new HttpRequestMessage(HttpMethod.Get, path);
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            using var responseStream = await response.Content.ReadAsStreamAsync();
            return await JsonSerializer.DeserializeAsync<List<WeeklyFantasy>>(responseStream, options);            
        }
        return null;
    }

}
