@page "/ManageSettings"
@using Football.Api.Models;
@inject IRequests requests;
<PageTitle>Settings</PageTitle>


<h3>Manage Settings</h3>

@if (loading)
{
    <div class="spinner"></div>
}

@if (tunings!= null && !loading)
{
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Tuning</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>RBFloor </b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.RBFloor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>LeadRBFactor </b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.LeadRBFactor" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>QBWeight </b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.QBWeight" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>Weight </b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.Weight" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>SecondYearWRLeap </b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.SecondYearWRLeap" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>SecondYearQBLeap </b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.SecondYearQBLeap" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>SecondYearRBLeap </b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.SecondYearRBLeap" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>SecondYearTELeap </b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.SecondYearTELeap" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>NewQBFloor </b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.NewQBFloor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>NewQBCeiling </b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.NewQBCeiling" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>NewQBCeilingForRB</b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.NewQBCeilingForRB" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>SeasonDataTrimmingGames</b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.SeasonDataTrimmingGames" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>AverageQBProjection</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.AverageQBProjection" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>NewWRMinPoints</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.NewWRMinPoints" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>NewWRAdjustmentFactor</b>
                    </td>                                           
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.NewWRAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ExistingWRAdjustmentFactor</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.ExistingWRAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>NewRBMinPoints</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.NewRBMinPoints" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>NewRBAdjustmentFactor</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.NewRBAdjustmentFactor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ExistingRBAdjustmentFactor</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.ExistingRBAdjustmentFactor" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>RushingQBThreshold</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.RushingQBThreshold" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>ReceivingRBThreshold</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.ReceivingRBThreshold" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>BackupQBAdjustment</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.BackupQBAdjustmentMax" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>VetQBNewTeamYears</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.VetQBNewTeamYears" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>VetQBNewTeamFactor</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.VetQBNewTeamFactor" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>EliteWRDraftPositionMax</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.EliteWRDraftPositionMax" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>EliteWRTopReceiverFactor</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.EliteWRRookieTopReceiverFactor" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>WR1MinPoints</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.WR1MinPoints" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>RB1MinPoints</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.RB1MinPoints" />
                    </td>
                </tr>
                                <tr>
                    <td>
                        <b>RBPromotionMinYardsPerCarry</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.RBPromotionMinYardsPerCarry" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>RBPromotionFactor</b>
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Season" @bind="@tunings.RBPromotionFactor" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="button-22" role="button" @onclick="HandleUpdate">
        Update
    </button>
}

@if (tuningsUpdated)
{
    <text>Tunings updated</text>
}

@code {
    private bool loading { get; set; } = false;
    private bool shouldRender { get; set; }
    private bool tuningsUpdated { get; set; } = false;

    private TuningsModel? tunings { get; set; } = new();
    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        tunings = await requests.GetSeasonTuningsRequest();
        loading = false;
        shouldRender = true;
    }

    private async Task HandleUpdate()
    {
        loading = true;
        tuningsUpdated = await requests.PostSeasonTuningsRequest(tunings);
        tunings = await requests.GetSeasonTuningsRequest();
        loading= false;
        shouldRender = true;
    }


}
