@page "/MarketShare"
<PageTitle>Market Share</PageTitle>
@using System.Text.Json
@using System.Text.Json.Serialization
@using Football.Projections.Models;
@using Football.Players.Models;
@using Football.Fantasy.Models;
@using Football.Enums;
@using Football.UI.Helpers;
@inject IHttpClientFactory ClientFactory

<h4>Market Share</h4>

<div>
    @foreach (var position in Positions)
    {

        <input type="radio" name="players" id=" @position" value="@position"
        @onchange="SetPosition"
               checked=@(Position.Equals(position,StringComparison.OrdinalIgnoreCase)) />
        <label for="@position ">@position</label>

    }
</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<button class="button-22" role="button" @onclick="GetMarketShare">
    Submit
</button>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@if (loading)
{
    <div class="spinner"></div>
}
@if (badRequestError)
{
    <p>Unexpected Error. Please try again.</p>
}

@if (marketShare.Any())
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Team</th>   
                    <th>@positionEnum.ToString()Fantasy%</th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("RushAttShare"))">RushAtt%</span>
                        <span class="oi @(tableSort.GetSortStyle("RushAttShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("RushYdShare"))">RushYd%</span>
                        <span class="oi @(tableSort.GetSortStyle("RushYdShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("RushTdShare"))">RushTd%</span>
                        <span class="oi @(tableSort.GetSortStyle("RushTdShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("TargetShare"))">Target%</span>
                        <span class="oi @(tableSort.GetSortStyle("TargetShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("ReceptionShare"))">Rec%</span>
                        <span class="oi @(tableSort.GetSortStyle("ReceptionShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("RecYdShare"))">RecYd%</span>
                        <span class="oi @(tableSort.GetSortStyle("RecYdShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("RecTDShare"))">RecTd%</span>
                        <span class="oi @(tableSort.GetSortStyle("RecTDShare"))"></span>
                    </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= marketShare.Count; i++)
                {
                    <tr>
                        <td><a class="page-links" href="Players/@marketShare.ElementAt(i-1).Player.PlayerId"> @marketShare.ElementAt(i-1).Player.Name</a>
                        
                        </td>
                        <td>@marketShare.ElementAt(i-1).PlayerTeam.Team</td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).FantasyShare * 100, 1) </td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).RushAttShare *100,1)</td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).RushYdShare *100,1)</td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).RushTDShare *100,1)</td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).TargetShare * 100, 1)</td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).ReceptionShare * 100, 1)</td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).RecYdShare * 100, 1)</td>
                        <td>@Math.Round(marketShare.ElementAt(i-1).RecTDShare * 100, 1)</td>
                        <td><a href="share-graph/@marketShare.ElementAt(i-1).Player.Position/@marketShare.ElementAt(i-1).Player.PlayerId"> <i class="oi oi-bar-chart" /></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<string> Positions = new() {"Runningback", "Wide Receiver", "Tight End" };
    public string Position { get; set; } = "Runningback";
    public Position positionEnum { get; set; } = Enums.Position.RB;
    public List<Football.Fantasy.Models.MarketShare> marketShare = new();

    public bool loading { get; set; } = false;
    public bool badRequestError { get; set; } = false;
    private bool shouldRender;
    protected override bool ShouldRender() => shouldRender;

    public TableSort tableSort = new();

    public void SetPosition(ChangeEventArgs args)
    {
        Position = args.Value.ToString();
        marketShare.Clear();
        positionEnum = Position switch
        {
            "Runningback" => Enums.Position.RB,
            "Wide Receiver" => Enums.Position.WR,
            "Tight End" => Enums.Position.TE,
            _ => Enums.Position.RB
        };
    }
    public async Task GetMarketShare()
    {
        loading = true;
        marketShare.Clear();
        shouldRender = true;
        var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7028/api/Fantasy/marketshare/" + positionEnum.ToString());
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            using var responseStream = await response.Content.ReadAsStreamAsync();
            marketShare = await JsonSerializer.DeserializeAsync<List<Football.Fantasy.Models.MarketShare>>(responseStream, options);
            badRequestError = false;
        }
        else
        {
            badRequestError = true;
        }
        loading = false;
        shouldRender = true;
    }

    private void SetTable(string columnName)
    {
        marketShare = tableSort.SortTable<Football.Fantasy.Models.MarketShare>(marketShare, columnName);
    }
}
