@page "/Predictions"
<PageTitle>Predictions</PageTitle>
<h1>Predictions</h1>

@using System.Text.Json
@using System.Text.Json.Serialization
@using Football.Models;
@inject IHttpClientFactory ClientFactory

<h4>Select a position to view the projected 2023 rankings</h4>
@foreach(var position in Positions)
{
    <div>
        <input type="radio" name="players" id=" @position" value="@position" 
            @onchange= "SetPosition" 
            checked=@(Position.Equals(position,StringComparison.OrdinalIgnoreCase))
        />
        <label for="@position">@position</label>
    </div>
}
<button @onclick = "CalculateProjections">
    Submit
</button>
@if (badRequestError || players is null)
{
    <p>Unexpected Error. Please try again.</p>
}
else
{
    <table class = "table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Projected Points</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var player in players)
        {
            <tr>
            <td>@player.Name</td>
            <td>@player.Team</td>
            <td>@player.Position</td>
            <td>@Math.Round((double)player.ProjectedPoints,2)</td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    private bool shouldRender;
    protected override bool ShouldRender() => shouldRender;
    private bool badRequestError;   
    private List<ProjectionModel> players = new();
    private List<string> Positions = new() { "Quarterback", "Runningback", "Pass Catcher" };
    public string Position { get; set; } = "Quarterback";
    public string PositionEnum { get; set; } = "1";


    public void SetPosition(ChangeEventArgs args)
    {
        Position = args.Value.ToString();
    }

    public async Task CalculateProjections()
    {
        switch (Position.ToLower())
        {
            case "quarterback":
                PositionEnum = "1";
                break;
                case "runningback":
                PositionEnum = "2";
                break;
                case "pass catcher":
                PositionEnum = "3";
                break;
                default: PositionEnum = "1"; break;
        }
        var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7028/api/Prediction/" + @PositionEnum);          
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions {PropertyNameCaseInsensitive = true};
            using var responseStream = await response.Content.ReadAsStreamAsync();
            players = await JsonSerializer.DeserializeAsync<List<ProjectionModel>>(responseStream, options);               
        }
        else
        {
            badRequestError = true;
        }
        shouldRender = true;
    }
}

