@page "/Projections"
<PageTitle>Season Projections</PageTitle>
@using Football.Api.Models;
@using Football.UI.Helpers;
@inject IRequests requests;

<h4>Season Projections</h4>
<div>
@foreach(var position in format.Positions())
{
    
        <input type="radio" name="players" id=" @position" value="@position" 
            @onchange= "SetPosition" 
            checked=@(Position.Equals(position,StringComparison.OrdinalIgnoreCase))
        />
        <label for="@position ">@position</label>
    
}
</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<button class="button-22" role="button" @onclick="HandleInput"> 
    Submit
    </button>

<div style="height:10px;font-size:1px;">&nbsp;</div>

@if(loading)
{   
    <div class="spinner"></div>
}

@if(players != null && players.Count > 0)
{
    @if (!players.Any(p => p.CanDelete))
    {
    <button class="button-22" role = "button" @onclick="HandleUpload">
        Upload
    </button>
    }
    @if(count > 0)
    {
        <p>@count records added </p>
        count = 0;
    }
    @if (recordDeleted)
    {
        <text>Record deleted.</text>
    }
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Total Points</th>
                    <th>PPG</th>
                    @if (players.Any(p => p.SeasonProjectionError != null))
                    {
                        <th>ActualTotal</th>
                        <th>ActualPPG</th>
                        <th>TotalError</th>
                        <th>PPGError</th>
                    }
                    @if (players.Any(p => p.CanDelete))
                    {
                        <th></th>                        
                    }

                </tr>
        </thead>
        <tbody>
        @foreach (var p in players)
        {  
             var logoPhotoPath = p.Team != string.Empty ? "https://localhost:7176/Logos/" + p.Team + ".png" : "https://localhost:7176/Logos/nfl.png";
             var sa = p.SeasonProjectionError;

            <tr>
            <td>@format.Rank(players, p)</td>
            <td><a class = "page-links" href="Players/@p.PlayerId"> @p.Name</a></td>
            <td>@p.Position</td>
            <td><img src="@logoPhotoPath" width="30" height="30"></td>
            <td>@Math.Round((double)p.ProjectedPoints,2)</td>
            <td>@Math.Round((double)p.ProjectedPoints/17,2)</td>
             @if (sa != null)
             {
                <td>@Math.Round(sa.TotalFantasy, 2)</td>
                <td>@Math.Round(sa.TotalFantasy / sa.WeeksPlayed, 2)</td>
                <td>@Math.Round(sa.TotalFantasy - sa.SeasonFantasyProjection, 2)</td>
                <td>@Math.Round((sa.SeasonFantasyProjection / 17) - (sa.TotalFantasy / sa.WeeksPlayed), 2)</td>
             }
             @if (p.CanDelete)
             {
                <td>
                <button type="button" style="color:red" class="btn btn-link" @onclick="() => HandleDelete(p.PlayerId, p.Season)"> <i sytle="color:red" class="oi oi-x" /></button>
                </td>
             }
            </tr>
        }
        </tbody>
    </table>
    </div>
}
@code {
    public string Position { get; set; } = "Quarterback";
    public string PositionEnum { get; set; } = "1";

    private List<SeasonProjectionModel>? players = new();

    private bool shouldRender;
    private int count = 0;
    private bool loading { get; set; }
    public bool seasonOver { get; set; } = false;
    private bool recordDeleted = false;

    private Formatter format = new();

    protected override bool ShouldRender() => shouldRender;

    public void SetPosition(ChangeEventArgs args)
    {
        Position = args.Value.ToString();
        recordDeleted = false;
        players?.Clear();
    }

    public async Task HandleInput()
    {
        loading = true;
        players?.Clear();
        PositionEnum = format.SetPosition(Position);
        players = await requests.GetSeasonProjectionsRequest(PositionEnum);
        loading = false;
        shouldRender = true;
    }

    public async Task HandleDelete(int playerId, int season)
    {
        loading = true;
        recordDeleted = await requests.DeleteSeasonProjectionRequest(playerId, season);
        await HandleInput();
        loading = false;
        shouldRender = true;
    }

    public async Task HandleUpload()
    {
        loading = true;
        count = await requests.PostSeasonProjectionRequest(PositionEnum);
        loading= false;
        shouldRender = true;
    }
}

