@page "/TargetShare"
<PageTitle>Target Share</PageTitle>
@using System.Text.Json
@using System.Text.Json.Serialization
@using Football.Enums;
@using Football.Api.Models;
@using Football.UI.Helpers;
@inject IRequests requests;

<h4>Target Share</h4>

@if (loading)
{
    <div class="spinner"></div>
}

@if (targetShare != null)
{
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <div class="table_container">
        <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("RBTargetShare"))">RBTarget%</span>
                        <span class="oi @(tableSort.GetSortStyle("RBTargetShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("RBCompShare"))">RBComp%</span>
                        <span class="oi @(tableSort.GetSortStyle("RBCompShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("WRTargetShare"))">WRTarget%</span>
                        <span class="oi @(tableSort.GetSortStyle("WRTargetShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("WRCompShare"))">WRComp%</span>
                        <span class="oi @(tableSort.GetSortStyle("WRCompShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("TETargetShare"))">TETarget%</span>
                        <span class="oi @(tableSort.GetSortStyle("TETargetShare"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("TECompShare"))">TEComp%</span>
                        <span class="oi @(tableSort.GetSortStyle("TECompShare"))"></span>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var t in targetShare){
                <tr>
                    <td><a class="page-links" href="Teams/@t.TeamId"> @t.TeamDescription</a></td>
                    <td>@Math.Round(t.RBTargetShare*100, 1)</td>
                    <td>@Math.Round(t.RBCompShare*100, 1)</td>
                    <td>@Math.Round(t.WRTargetShare*100, 1)</td>
                    <td>@Math.Round(t.WRCompShare*100, 1)</td>
                    <td>@Math.Round(t.TETargetShare*100, 1)</td>
                    <td>@Math.Round(t.TECompShare*100, 1)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    public List<TargetShareModel>? targetShare = new();

    public bool loading { get; set; } = false;
    public bool badRequestError { get; set; } = false;
    private bool shouldRender;
    protected override bool ShouldRender() => shouldRender;

    private TableSort tableSort = new();

    protected override async Task OnInitializedAsync()
    {
        targetShare = await requests.GetTargetShareRequest();
    }
    private void SetTable(string columnName) => targetShare = tableSort.SortTable<TargetShareModel>(targetShare, columnName);

    private async Task HandleInput()
    {
        loading = true;
        if (targetShare != null) targetShare.Clear();
        shouldRender = true;
        targetShare = await requests.GetTargetShareRequest();
        loading = false;
        shouldRender = true;
    }
    
}
