@page "/FantasyAnalysis"
<PageTitle>Fantasy Analysis</PageTitle>

@using Football.Client.Helpers;
@using Football.Client.Interfaces;
@using Football.Client.Shared;
@using Football.Shared.Models.Fantasy;

@inject IFantasyService fantasyService;

<h4>Fantasy Analysis</h4>

<div>
    @foreach (var position in format.Positions())
    {

        <input type="radio" name="players" id=" @position" value="@position"
        @onchange="SetPosition"
               checked=@(Position.Equals(position,StringComparison.OrdinalIgnoreCase)) />
        <label for="@position ">@position</label>

    }
</div>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<button class="button-22" role="button" @onclick="HandleInput">
    Submit
</button>
<div style="height:10px;font-size:1px;">&nbsp;</div>

@if (loading)
{
    <div class="spinner"></div>
}

@if (filteredFantasyAnalyses.Count > 0)
{
        <EditForm model="this" OnSubmit="HandleSearch">
    <TextBoxName @bind-Value ="this.Value"/>
    </EditForm>
    <div class="table_container">
        <table class="base_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("AvgFantasy"))">AvgFantasy</span>
                        <span class="oi @(tableSort.GetSortStyle("AvgFantasy"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("TotalFantasy"))">Total Fantasy</span>
                        <span class="oi @(tableSort.GetSortStyle("TotalFantasy"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("MinFantasy"))">MinFantasy</span>
                        <span class="oi @(tableSort.GetSortStyle("MinFantasy"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("MaxFantasy"))">MaxFantasy</span>
                        <span class="oi @(tableSort.GetSortStyle("MaxFantasy"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("Variance"))">Variance</span>
                        <span class="oi @(tableSort.GetSortStyle("Variance"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("StdDev"))">StdDev</span>
                        <span class="oi @(tableSort.GetSortStyle("StdDev"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("BoomPercentage"))">Boom%</span>
                        <span class="oi @(tableSort.GetSortStyle("BoomPercentage"))"></span>
                    </th>
                    <th>
                        <span class="sort-link" onclick="@(() => SetTable("BustPercentage"))">Bust%</span>
                        <span class="oi @(tableSort.GetSortStyle("BustPercentage"))"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var f in filteredFantasyAnalyses)
                {
                    <tr>
                        <td>
                            <a class="page-links" href="Players/@f.PlayerId"> @f.Name</a>
                        </td>
                        <td>@Math.Round(f.AvgFantasy, 2)</td>
                        <td>@Math.Round(f.TotalFantasy, 2)</td>
                        <td>@Math.Round(f.MinFantasy, 2)</td>
                        <td>@Math.Round(f.MaxFantasy, 2)</td>
                        <td>@Math.Round(f.Variance, 2)</td>
                        <td>@Math.Round(f.StdDev, 2)</td>
                        <td>@Math.Round(f.BoomPercentage, 2)</td>
                        <td>@Math.Round(f.BustPercentage, 2)</td>
                        <td>
                            <a href="error-graph/@f.PlayerId"> <i class="oi oi-graph" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@code {
    private string Position { get; set; } = "Quarterback";
    private string positionEnum { get; set; } = "QB";
    private List<FantasyAnalysisModel>? FantasyAnalyses = new();

    private bool loading { get; set; } = false;
    private bool badRequestError { get; set; } = false;
    private bool shouldRender;

    private TableSort tableSort = new();
    private Formatter format = new();

    private List<FantasyAnalysisModel> filteredFantasyAnalyses = new();
    private string Value { get; set; } = "";

    protected override bool ShouldRender() => shouldRender;

    private void SetPosition(ChangeEventArgs args)
    {
        FantasyAnalyses?.Clear();
        filteredFantasyAnalyses.Clear();
        Value = string.Empty;
        tableSort = new();
        positionEnum = format.SetPosition(args);
    }

    private async Task HandleInput()
    {
        loading = true;
        FantasyAnalyses?.Clear();
        filteredFantasyAnalyses.Clear();
        Value = string.Empty;
        shouldRender = true;
        FantasyAnalyses = (await fantasyService.GetFantasyAnalysesRequest(positionEnum))?.Where(f => f.AvgFantasy >= 5).ToList();
        filteredFantasyAnalyses.AddRange(FantasyAnalyses);
        loading = false;
        shouldRender = true;
    }


    private void HandleSearch()
    {
        filteredFantasyAnalyses.Clear();

        if (!string.IsNullOrEmpty(Value))
        {
            filteredFantasyAnalyses = FantasyAnalyses.Where(m => m.Name.ToLower().Contains(Value.ToLower())).ToList();
            shouldRender = true;
        }
        else
        {
            filteredFantasyAnalyses.AddRange(FantasyAnalyses);
        }
    }

    private void SetTable(string columnName) => filteredFantasyAnalyses = tableSort.SortTable<FantasyAnalysisModel>(filteredFantasyAnalyses, columnName);

}
